body{
  background-color: #0b0b0b;
  color: #D3A121;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input{
  border-color: #D3A121;
  background-color: #FAF4E4;
  margin: 0 auto;
  display: flex;
  
}

#yfdojnb{
  background-color: #FAF4E4;
  border-radius: 70px;
  width: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
}